* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: medium;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
}

button {
    height: 32px;
    min-width: 36px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: white;
}

button:disabled {
    opacity: .2;
}

select {
    height: 32px;
    min-width: 36px;
    border: 1px solid #000;
    border-radius: 4px;
}

.buttonrow .spacer { flex: 1; }

.card {
    display: none;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card.visible {
    display: flex;
}

body.loading .card {
    display: none;
}

.button {
    display: inline-block;
    cursor: pointer;
    height: 32px;
    min-width: 32px;
    padding: 0 9px;
    align-self: center;
    font-size: 12px;
    line-height: 19px;
    background-color: white;
}

.button:focus { outline:0; }

.errormessage {
    display: none;
    color: red;
    text-align: center;
}

.card.details .content {
    padding: 10px;
    overflow: auto;
    font-size: 16px;
    flex: 1;
}

.card.details .content .title {
    font-variant: small-caps;
    font-size: 22px;
    margin: 8px 0 16px 0;
}

.card.input .content { display: flex; flex-direction: column; }
.card.input .content label { display: block; line-height: 30px; }
.card.input .content > input,.card.input .content > select {
    display: block;
}
.card.input .content > textarea {
    display: block;
}

.card.login, .card.register { margin-bottom: 0; }
.card.login .content, .card.register .content { flex: unset; }
.card.login .buttonrow, .card.register .buttonrow { text-align: center; }

.card.loggedin .buttonrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.card.page canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/background.png);
}

.card.page .buttonrow .radio {
    height: 32px;
    width: 32px;
    border: 1px solid #000;
    border-radius: 4px;
    position: relative;
    background-color: white;
}

.card.page .buttonrow .radio input {
    opacity: 0;
    width: 0;
    height: 0;
}

.card.page .buttonrow .radio div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.card.page .buttonrow .radio input:checked + div {
    opacity: 1;
}

.card.page .buttonrow .radio.type div {
    width: 100%;
    height: 100%;
}

.card.page .buttonrow .radio.type input:checked + div {
    border: 3px solid #0002;
    border-radius: 3px;
}

.card.page .buttonrow .radio.type.pen div { background: url(../images/bleistift.png) no-repeat center; }
.card.page .buttonrow .radio.type.eraser div { background: url(../images/radiergummi.png) no-repeat center; }

.card.page .buttonrow .radio.size div {
    background-color: #000;
    border-radius: 16px;
}

.card.page .buttonrow .radio.size.small div {
    width: 4px;
    height: 4px;
    top: 13px;
    left: 13px;
}

.card.page .buttonrow .radio.size.medium div {
    width: 12px;
    height: 12px;
    top: 9px;
    left: 9px;
}

.card.page .buttonrow .radio.size.large div {
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}

.card.page .buttonrow .radio.color div {
    width: 100%;
    height: 100%;
}

.card.page .buttonrow .radio.color input:checked + div {
    border: 3px solid #fffd;
    border-radius: 3px;
}

.card.page .buttonrow .radio.color.black div { background-color: #000; }
.card.page .buttonrow .radio.color.blue div { background-color: #4169E1; }
.card.page .buttonrow .radio.color.red div { background-color: #E72B2D; }
.card.page .buttonrow .radio.color.green div { background-color: #1EA262; }
.card.page .buttonrow .radio.color.grey div { background-color: #0002; }
.card.page .buttonrow .radio.color.lightgreen div { background-color: #0f01; }

.card.books .list {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.card.books .list button {
    width: 105px;
    height: 148px;
    margin: 4px;
    overflow-wrap: break-word;
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
    background-image: url(../images/redcover.png);
    background-size: 100% 100%;
    padding: 8px;
}