body {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding:0;
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url(https://cdn.glitch.com/33f63962-c18e-4da4-9c24-8dc0aaceb3e4%2Fbackground.png?v=1577136267826);
}

.buttons {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}